/* Dashboard.css */
.fade-enter {
    opacity: 0;
}
.fade-enter-active {
    opacity: 1;
    transition: opacity 700ms;
}

.image-container {
    position: relative;
    cursor: pointer;
    display: inline-block;
}

.round-image, .MuiAvatar-root {
    width: 117px;
    height: 117px;
    border-radius: 50%;
    transition: filter 0.3s ease;
}

.round-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.image-container:hover .round-image, .image-container:hover .MuiAvatar-root {
    filter: blur(4px);
}

.overlay-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
    font-size: 14px;
    text-align: center;
    border-radius: 50%;
}

.image-container:hover .overlay-text {
    opacity: 1;
}

.profile-pic-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    overflow: hidden;
    border-radius: 50%;
    background: #f3f4f6;
}

.profile-pic-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

